<a href="https://colab.research.google.com/github/mynameis-sohee/SQL-Study/blob/main/%EA%B3%BC%EC%A0%9C2_%EA%B8%B0%EB%B3%B8_SQL_%EC%A1%B0%EC%9E%91%EC%96%B4_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **SQL 기본 연습**

https://www.sqlitetutorial.net/sqlite-sample-database/ 의 예제를 활용해, SQL 조작어를 실습해봅니다.

사용한 TOOL : DBeaver

1. AlbumId 가 30 인 앨범의 Title 조회

In [ ]:
select all AlbumId,Title from albums
where AlbumId is 30;

2. 아티스트 이름 중 'the' 가 들어간 앨범의 AlbumId 조회

In [ ]:
select distinct albums.AlbumId from albums, artists
where artists.Name like '%the%';

3. invoices 테이블에서 BillingCity 가 Stuttgart, Oslo, Redmond 인 InvoiceId 를 InvoiceId 에 따라 오름차순으로 조회

In [ ]:
select InvoiceId from invoices 
where BillingCity = 'Stuttgart' or BillingCity = 'Oslo' or BillingCity = 'Redmond'
order by InvoiceId asc; 

--order by에서 내림차순:DESC--

4. tracks 테이블에서 트랙 Name 이 'The' 로 시작하는 trackId 조회

In [ ]:
select TrackId from tracks 
where Name like 'The%';

5. customers 테이블에서 Email 이 'gmail.com' 인 CustomerId 조회

In [ ]:
select CustomerId from customers
where Email like '%gmail.com';

6. CustomerId 가 29, 30인 고객들의 주문금액이 1달러 이상 3달러 이하인 주문 (invoice)의 Id 조회

In [ ]:
select all invoices.InvoiceId from customers, invoices
where (customers.CustomerId = 29 or customers.CustomerId = 30 or customers.CustomerId = 63)
and invoices.Total >= 1 and invoices.Total <= 3;

7. 각 나라 (country) 별 고객 (customer) 수 산출

In [ ]:
select Country,count(*) from customers
group by Country ;

8. 총 구매한 비용이 가장 많은 고객 (customer) 5명의 CustomerId 조회

In [ ]:
select CustomerId, sum(Total) from invoices
group by CustomerId 
order by sum(Total) desc limit 5;

9. 장르 (genre) 가 'Soundtrack' 인 트랙 중, 트랙의 길이 (Milliseconds) 가 350,000 이상 400,000 이하인 트랙들의 Id 조회

In [ ]:
select tracks.TrackId from genres, tracks
where genres.Name = 'Soundtrack' and (tracks.Milliseconds >= 350000 and tracks.Milliseconds <= 400000);